body {
    font-family: "Open Sans", sans-serif, Arial, serif;
    background-image: url("../images/bg.png");
    background-size: cover;
    background-position: 50% 0;
    background-attachment: fixed;
    color: #19a3ff;
    overflow-x: hidden;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 0.02em;
}

a {
    color: inherit;
    outline: none !important;
    text-decoration: none;
}

a:hover,
a:focus {
    outline: none !important;
    text-decoration: none;
}

a.decoration,
a.decoration:hover,
a.decoration:focus {
    outline: solid;
    text-decoration: underline;
}

.load {
    position: fixed;
    top: 0;
    padding-top: 20%;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    display: block;
    /*overflow: auto;*/
    /*overflow-y: scroll;*/
}

.display-none {
    display: none;
}

.opac-5 {
    -ms-opacity: 0.5;
    opacity: 0.5;
}

.opac-8 {
    -ms-opacity: 0.8;
    opacity: 0.8;
}

.opac-9 {
    -ms-opacity: 0.9;
    opacity: 0.9;
}

.font-weight-6 {
    font-weight: 600!important;
}

.letter-sp {
    letter-spacing: -.3rem;
}

.pt-adjust {
    padding-top: 67px;
}

.bg-write-1 {
    background-color: #f5f5f5;
    color: inherit;
}

.bg-write-2 {
    background-color: #dbdbdb;
    color: inherit;    
}

.bg-dark-1 {
    background-color: #272727;
    color: inherit;    
}

.bg-dark-2 {
    background-color: #424040;
    color: inherit;    
}

/* buttons */
.btn-af {
    padding: 15px 90px;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
    border: none;
    border-radius:0;
    -webkit-transition: background-color 0.2s ease-out;
    -moz-transition: background-color 0.2s ease-out;
    -o-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
}

/* .btn-af:hover {
    background-color: #fff;
    color: inherit;
} */
/* end buttons */

/* scroll */
.scroll-to-top {
    border-radius: 2px;
    display: none;
    position: fixed;
    right: 20px;
    top: 94%;
    text-align: center;
    z-index: 999;
}

.scroll-to-top i {
    width: 100%;
}
/* end scroll */

/* ==================================================== */
/* Start specific style                                 */
/* ==================================================== */

/* section top */
.top-bar .row ul,
.top-bar .row ol {
    margin-top: 4px;
    margin-bottom: 4px;
}

.top-bar div.row>div:first-child {
    display: none;
} 

.top-bar div.row>div:last-child>ul>li.list-inline-item:nth-child(1), 
.top-bar div.row>div:last-child>ul>li.list-inline-item:nth-child(2) {
    display: initial;
} 

.top-bar div.row>div:last-child {
    padding-top: 60px;
}
/* end section top */

/* navbar */
.nav-link.page-scroll.active {
    border-bottom: 0.1rem solid;
}

.navbar .nav-link {
    font-size: .80rem;
    letter-spacing: 0.20rem;
    padding: 1rem 1rem;
}
/* end navbar */

/* section alert */
.show-alert {
    padding-top: 130px;
    position: fixed !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    display: none;
    overflow: auto;
}

.show-alert .message-title {
    display: inline-block;
    padding-left: 10px;
}

.show-alert .alert {
    border-radius: 0;
}
/* end section alert */

/* section home */
.home-box {
    margin: 0;
}

.home-box .message-box {
    width: 100%;
    text-align: center;
    padding-top: 20px;
    display: table;
}

.home-box>.message-box div.top {
    display: inline-block;
    margin: 0;
}

.home-box>.message-box div.top>p {
    text-align: center;
    font-size: 6.5vw;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 24px;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

.home-box>.message-box div.bottom>p {
    font-size: 3vw;
    font-weight: 400;
    font-variant: small-caps;
    line-height: 24px;
    margin-bottom: 0;
    padding-bottom: 15px;
}
/* section home */

/* section about */
.limit {
    max-width:300px;
    max-height:300px;
    width: auto;
    height: auto;
}

.border-db-5 {
    border-width: 4px;
    border-color: #19a3ff;
    border-style: double;
}
/*end section about */

/* section education */
/* end section education */

/* section experience */
/* end section education */

/* section skills */
/* end section skills */    

/* section contact */
/* end section contact */

/* section footer */
footer {
    padding: 30px 0;
    margin-bottom: -20px;
}

footer p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
}

footer > div.row {
    text-align: center;
}

footer h2 {
    text-transform: none;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-align: center
}
/* end section footer  */

/* responsive */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    /* navbar */
    .navbar .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    /* end navbar */
    
    /* section home */
    .home-box>.message-box div.top>p {
        font-size: 5.5vw;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .home-box>.message-box div.bottom>p {
        font-size: 2.5vw;
        margin-bottom: 5px;
        padding-bottom: 10px;
    }
    /* section home */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    /* section top */
    .top-bar div.row>div:first-child {
        display: inherit;
    } 

    .top-bar div.row>div:last-child>ul>li.list-inline-item:nth-child(1), 
    .top-bar div.row>div:last-child>ul>li.list-inline-item:nth-child(2) {
        display: none;
    } 

    .top-bar div.row>div:last-child{
        padding-top: inherit;
    }
    /* end section top */

    /* navbar */
    .navbar {
        padding: 0;
    }

    .nav-md-none {
        display: none;
    }
    /* end navbar */

    /* section home */
    .home-box>.message-box div.top>p {
        font-size: 5vw;
        padding-top: 25px;
        padding-bottom: 20px;
        margin-bottom: 10px;
    }

    .home-box>.message-box div.bottom>p {
        font-size: 2vw;
        padding-bottom: 15px;
    }
    /* end section home */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .btn, .mfp-counter, .mfp-title, .navbar .nav-link {
        text-transform: uppercase;
    }

    /* navbar */
    .navbar .nav-item {
        padding: 0 20px;
    }

    .navbar, .navbar .nav-link, .navbar .nav-link:before, .navbar-header {
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }
    /* end navbar */    

    /* section footer */   
    footer div.col-sm-12.col-lg-6:first-child>h2,
    footer div.col-sm-12.col-lg-6:first-child>p {
        text-align: left;
    }

    footer div.col-sm-12.col-lg-6:nth-child(2) h2,
    footer div.col-sm-12.col-lg-6:nth-child(2)>p {
        text-align: right;
    }

    footer div.col-sm-12:last-child h2,
    footer div.col-sm-12:last-child>p {
        text-align: left;
    }
    /* end section footer */
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    /* section home */
    .home-box>.message-box div.top>p {
        margin-bottom: 15px;
    }

    .home-box>.message-box div.bottom>p {
        padding-bottom: 20px;
    }
    /* section home */
}

@media (max-width: 768px) {
    /* navbar */
    .navbar {
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 1030;
    }
    /* end navbar */    
}