body {
    font-family:Lato, sans-serif;
    background-image:url("../images/bg.png");
    background-size:cover;
    background-position:50% 0;
    background-attachment:fixed;
    color:#19A3FF;
    overflow-x:hidden;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family:Lato, sans-serif;
}

h1 {
    font-size:30px;
    line-height:30px;
    font-weight:300;
    text-transform:uppercase;
    letter-spacing:0.02em;
}

h1.title{
    position:relative;
    margin:0 0 124px;
    font-size:48px;
    line-height:64px;
    font-weight:300;
    text-align:center;
    color:#19A3FF;
    z-index:1;
}

h2 {
    font-size:21px;
    line-height:24px;
    font-weight:bold;
    text-transform:uppercase;
}

p {
    font-size:18px;
    line-height:24px;
    font-weight:300;
    letter-spacing:0.01em;
    margin-bottom:20px;
}

a {
    color:#228Ca8;
    outline:none !important;
    text-decoration:none;
}

a:hover,
a:focus {
    outline:none !important;
    text-decoration:none;
}

a.decoration,
a.decoration:hover,
a.decoration:focus {
    outline:solid;
    text-decoration:underline;
}

.load {
    position:fixed;
    top:0;
    padding-top:20%;
    right:0;
    bottom:0;
    left:0;
    z-index:1040;
    display:block;
    /*overflow: auto;*/
    /*overflow-y: scroll;*/
}

.display-none {
    display: none;
}

.semi-opac {
    -ms-opacity:0.5;
    opacity:0.5;
}

/* buttons */
.btn-af {
    color:#fff;
    background-color:#19A3FF;
    padding:15px 90px;
    font-size:24px;
    font-weight:300;
    text-transform:uppercase;
    border:none;
    border-radius:0;
    -webkit-transition:background-color 0.2s ease-out;
    -moz-transition:background-color 0.2s ease-out;
    -o-transition:background-color 0.2s ease-out;
    transition:background-color 0.2s ease-out;
}

.btn-af:hover {
    background-color:#fff;
    color:#19A3FF;
}
/* end buttons */

/* scroll */
/* .navbar.shrink {
    z-index: 1000!important
} */

.scroll-to-top {
    border-radius:2px;
    display:none;
    position:fixed;
    right:20px;
    top:94%;
    text-align:center;
    z-index:999;
}

.scroll-to-top i {
    width:100%;
}
/* end scroll */


/* ==================================================== */
/* Start specif style                                   */
/* ==================================================== */

/* section top */
.top-bar {
    background-color: #fff
}

.top-bar .row ul,
.top-bar .row ol {
    margin-top: 4px;
    margin-bottom: 4px;
}
/* end section top */

/* section alert */
.show-alert {
    padding-top:130px;
    position:fixed !important;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:1040;
    display:none;
    overflow:auto;
}

.show-alert .message-title {
    display:inline-block;
    padding-left:10px;
}

.show-alert .alert {
    border-radius:0;
}
/* end section alert */

/* section home */
.home-box {
    background:transparent;
    color:#19A3FF;
    margin:0;
}

header.home-box {
    padding:0;
    min-height:500px;
}

.home-box .message-box {
    width:100%;
    margin:300px auto 0;
    background:#fff;
    background:rgba(255,255,255,0.9);
    text-align:center;
    padding-top:20px;
    display:table;
}

.home-box>.message-box div.top {
    display:inline-block;
    margin:0;
}

.home-box>.message-box div.top>p {
    text-align: center;
    font-size:70px;
    font-weight:800;
    text-transform:uppercase;
    padding-top:30px;
    padding-bottom:20px;
}

.home-box>.message-box div.bottom>p {
    font-size:42px;
    font-weight:400;
}
/* section home */




/* section footer */
footer {
    background:#fff;
    color:#19A3FF;
    padding:30px 0;
    margin-bottom:-20px;
    opacity: 0.8;
}

footer p {
    color:#19A3FF;
    font-size:14px;
    line-height:24px;
    font-weight:400;
    text-align:center;
}

footer > div.row {
    text-align:center;
}

footer h2 {
    text-transform:none;
    font-size:18px;
    line-height:24px;
    font-weight:700;
    text-align:center
}
/* end section footer  */


/* responsive */
/* @media (max-width: 1199px) {
    .home-box .left-col p{
        font-size:28px;
        line-height:32px;
    }

    .home-box .left-col p span{
        font-size:36px;
    }

    .home-box .right-col p{
        font-size:82px;
        line-height:82px;
    }
}

@media (max-width: 991px) {

    .home-box .message-box{
        padding:10px 0;
    }

    .home-box .left-col {
        width:100%;
        text-align:center;
    }

    .home-box .left-col p{
        padding:10px;
    }

    .home-box .right-col{
        width:100%;
        text-align:center;
    }

    .home-box .right-col p{
        padding:10px;
    }

    .socials{
        text-align: center;
    }

    .title-contact {
        text-align: center;
    }

    .contato p {
        text-align: center;
    }

    .sobre {
        padding: 50px 0 50px 0;
    }

    .servico {
        padding: 50px 0 50px 0;
    }

    .contato {
        padding: 50px 0 50px 0;
    }
} */

@media (min-width: 992px) {
    .navbar .nav-item {
        height: 66px!important;
        padding: 0 20px;
    }

    .navbar .nav-link {
        padding-top: 24px!important;
    }

    .navbar .nav-link {
        color: #fff!important;
        display: inline-block;
        font-size: .75rem;
        padding: 0!important;
        position: relative;
    }

    .navbar .nav-link, .navbar-brand {
        font-family: Montserrat, sans-serif;
        letter-spacing: .125rem;
        opacity: .95;
    }

    .navbar .nav-link, .navbar-brand {
        font-family: Montserrat, sans-serif;
        letter-spacing: .125rem;
        opacity: .95;
    }

    .navbar, .navbar .nav-link, .navbar .nav-link:before, .navbar-header {
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }

    .btn, .mfp-counter, .mfp-title, .navbar .nav-link {
        text-transform: uppercase;
    }
}

@media (min-width: 768px) {
    /* section footer */   
    footer div.col-sm-12.col-md-6:first-child>h2,
    footer div.col-sm-12.col-md-6:first-child>p {
        text-align:left;
    }

    footer div.col-sm-12.col-md-6:nth-child(2) h2,
    footer div.col-sm-12.col-md-6:nth-child(2)>p {
        text-align:right;
    }

    footer div.col-sm-12.col-md-12:last-child h2,
    footer div.col-sm-12.col-md-12:last-child>p {
        text-align:left;
    }
    /* end section footer  */
}


