body {
    font-family: "Open Sans", sans-serif, Arial, serif;
    background-image: url("../images/bg.png");
    background-size: cover;
    background-position: 50% 0;
    background-attachment: fixed;
    color: #19a3ff;
    overflow-x: hidden;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 0.02em;
}

a {
    color: inherit;
    outline: none !important;
    text-decoration: none;
}

a:hover,
a:focus {
    outline: none !important;
    text-decoration: none;
}

a.decoration,
a.decoration:hover,
a.decoration:focus {
    outline: solid;
    text-decoration: underline;
}

.load {
    position: fixed;
    top: 0;
    padding-top: 20%;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    display: block;
    /*overflow: auto;*/
    /*overflow-y: scroll;*/
}

.display-none {
    display: none;
}

.opac-5 {
    -ms-opacity: 0.5;
    opacity: 0.5;
}

.opac-8 {
    -ms-opacity: 0.8;
    opacity: 0.8;
}

.opac-9 {
    -ms-opacity: 0.9;
    opacity: 0.9;
}

.font-weight-6 {
    font-weight: 600!important;
}

.font-weight-7 {
    font-weight: 700!important;
}

.letter-sp-d1 {
    letter-spacing: -.1rem;
}

.letter-sp-d3 {
    letter-spacing: -.3rem;
}

.pt-adjust {
    padding-top: 67px;
    padding-bottom: 20px;
}

.bg-write-0 {
    background-color: #fff;
    color: inherit;
}

.bg-write-1 {
    background-color: #f5f5f5;
    color: inherit;
}

.bg-write-2 {
    background-color: #dbdbdb;
    color: inherit;    
}

.bg-dark-1 {
    background-color: #272727;
    color: inherit;    
}

.bg-dark-2 {
    background-color: #424040;
    color: inherit;    
}

.border-lightblue {
    border-color: #19a3ff;
}

.border-transparent{
    border: 1px solid transparent;
}

.border-2 {
    border-width: 2px;
}

.btn.border-lightblue:hover {
    background-color: #19a3ff;
    color: #fff;
}

.form-control {
    border-radius: 0;
}

.br-0 {
    border-radius: 0;
}

.border-block-4 {
    border-width: 1px 4px 1px 4px;
    border-style: solid;
}

.border-block-5 {
    border-width: 1px 5px 1px 5px;
    border-style: solid;
}

/* animation */
.navbar, .navbar .nav-link, .navbar .nav-link:before, .navbar-header {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
/* end animation */

/* buttons */
.btn-af {
    text-transform: uppercase;
    color: #19a3ff;
    background-color: transparent;
    background-image: none;
    border-radius: 0;
    letter-spacing: .1rem;
    -webkit-transition: background-color 0.4s ease-out;
    transition: background-color 0.4s ease-out;
}

.btn-af:hover {
    color: #fff;
    background-color: #19a3ff;
}
/* end buttons */

/* scroll */
.scroll-to-top {
    display: none;
    position: fixed;
    right: 15px;
    bottom: 15px;
    text-align: center;
    z-index: 999;
}

.scroll-to-top i {
    width: 100%;
}
/* end scroll */

/* ==================================================== */
/* Start specific style                                 */
/* ==================================================== */

/* section top */
.top-bar .row ul,
.top-bar .row ol {
    margin-top: 4px;
    margin-bottom: 4px;
}

.top-bar div.row>div:first-child {
    display: none;
} 

.top-bar div.row>div:last-child>ul>li.list-inline-item:nth-child(1), 
.top-bar div.row>div:last-child>ul>li.list-inline-item:nth-child(2) {
    display: initial;
} 

.top-bar div.row>div:last-child {
    padding-top: 60px;
}
/* end section top */

/* navbar */
.navbar .nav-link {
    text-transform: uppercase;
}

.navbar .nav-link {
    font-size: .80rem;
    letter-spacing: 0.12rem;
    padding: 15px 0 5px 0;
}

.navbar .carrer {
    border-left: .1rem solid;
    padding-left: .3rem;
    margin-left: .2rem;
}
/* end navbar */

/* section alert */
.show-alert {
    padding-top: 130px;
    position: fixed !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    display: none;
    overflow: auto;
}

.show-alert .message-title {
    display: inline-block;
    padding-left: 10px;
}

.show-alert .alert {
    border-radius: 0;
}
/* end section alert */

/* section home */
.home-box {
    margin: 0;
}

.home-box .message-box {
    width: 100%;
    text-align: center;
    padding-top: 20px;
    display: table;
}

.home-box>.message-box div.top {
    display: inline-block;
    margin: 0;
}

.home-box>.message-box div.top>p {
    text-align: center;
    font-size: 7vw;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 24px;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

.home-box>.message-box div.bottom>p {
    font-size: 3.5vw;
    font-weight: 400;
    font-variant: small-caps;
    line-height: 24px;
    margin-bottom: 0;
    padding-bottom: 10px;
}

.btn-down {
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 60px;
    margin-bottom: 20px;
}

.nav-link.page-scroll.active {
    border-bottom: 0.1rem solid;
}

/* .t-eio-underline:hover {
    border-bottom: 0.1rem solid #fff; 
} */

.t-eio-underline:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;    
    bottom: 0;
    left: 0;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all .3s ease-in-out 0s; 
    transition: all .3s ease-in-out 0s;
}

.t-eio-underline:hover:after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}


/* section home */

/* section about */
.limit {
    max-width:300px;
    max-height:300px;
    width: auto;
    height: auto;
}

.border-db-4 {
    border-width: 4px;
    border-color: #19a3ff;
    border-style: double;
}

.border-s-3 {
    border-width: 3px;
    border-color: #19a3ff;
    border-style: solid;
}
/*end section about */

/* section education */
/* end section education */

/* section experience */
/* end section education */

/* section skills */
.badge-sk {
    padding: 0.5rem 0.6rem;
    margin-top: 0.2rem;
    border-radius: 0;
    background-color: #fff;
    font-size: 80%;
}
/* end section skills */    

/* section contact */
/* end section contact */

/* footer page */
footer.page {
    padding: 30px 0;
    margin-bottom: -20px;
}

footer.page p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
}

footer.page > div.row {
    text-align: center;
}

footer.page h2 {
    text-transform: none;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-align: center
}
/* end footer page  */

/* responsive */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    /* navbar */
    .navbar .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    /* end navbar */
    
    /* section home */
    .home-box>.message-box div.top>p {
        font-size: 6.2vw;
        padding-top: 10px;
        padding-bottom: 20px;
    }

    .home-box>.message-box div.bottom>p {
        font-size: 2.5vw;
        margin-bottom: 5px;
        padding-bottom: 10px;
    }
    /* section home */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    /* section home */
    .home-box>.message-box div.top>p {
        font-size: 6vw;
        padding-top: 20px;
        padding-bottom: 15px;
        margin-bottom: 10px;
    }

    .home-box>.message-box div.bottom>p {
        font-size: 2.5vw;
    }
    /* end section home */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .border-right-dotted-1 {
        border-right-width: 1px;
        border-right-style: dotted;
    }

    .border-block-lg-4 {
        border-width: 1px 1px 1px 4px;
        border-style: solid;
    }

    .border-block-lg-5 {
        border-width: 1px 1px 1px 5px;
        border-style: solid;
    }

    /* section top */
    .top-bar div.row>div:first-child {
        display: inherit;
    } 

    .top-bar div.row>div:last-child>ul>li.list-inline-item:nth-child(1), 
    .top-bar div.row>div:last-child>ul>li.list-inline-item:nth-child(2) {
        display: none;
    } 

    .top-bar div.row>div:last-child{
        padding-top: inherit;
    }
    /* end section top */

    /* navbar */
    .navbar {
        padding: 0;
    }

    .nav-lg-none {
        display: none;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0;
        padding-left: 0;
    }

    .navbar .nav-link {
        padding: 27px 0 15px 0;
    }

    .navbar .nav-item {
        padding: 0 13px;
    }
    /* end navbar */    

    /* section home */
    .home-box>.message-box div.bottom>p {
        font-size: 2vw;
    }
    /* end section home */

    /* footer page */   
    footer.page div.col-sm-12.col-lg-6:first-child>h2,
    footer.page div.col-sm-12.col-lg-6:first-child>p {
        text-align: left;
    }

    footer.page div.col-sm-12.col-lg-6:nth-child(2) h2,
    footer.page div.col-sm-12.col-lg-6:nth-child(2)>p {
        text-align: right;
    }

    footer.page div.col-sm-12:last-child h2,
    footer.page div.col-sm-12:last-child>p {
        text-align: left;
    }
    /* end footer page */
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    /* navbar */
    .navbar .nav-item {
        padding: 0 15px;
    }
    /* end navbar */    

    /* section home */
    .home-box>.message-box div.top>p {
        margin-bottom: 20px;
    }
    /* section home */
}

@media (max-width: 992px) {
    /* navbar */
    .navbar {
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 1030;
    }
    /* end navbar */    
}