<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Aderbal Farias</title>

    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

    <script src="bower_components/jquery/dist/js/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
</head>
<body>
    <nav id="menu" class="navbar navbar-fixed-top menu">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#site-nav">
                    <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#home">Aderbal Farias<br><span>Desenvolvedor de Sistemas</span></a>
            </div>
            <div id="site-nav" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="sr-only">
                        <a class="scrollto" href="#">Home</a>
                    </li>
                    <li>
                        <a class="scrollto" href="#sobre">Sobre</a>
                    </li>
                    <li>
                        <a class="scrollto" href="#servico">Serviço</a>
                    </li>
                    <li>
                        <a class="scrollto" href="#contato">Contato</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section id="sectionAlert" class="container section-alert">
        <div id="alert">
            <a href="#" class="close" data-dismiss="alert">×</a>
            <strong id="tipo"></strong><b id="title" class="message-title"></b>
        </div>
    </section>

    <!-- Section - Home Start -->
    <section id="home" class="home-bg-slider bg-gray-dark p-0 w-100">
        <!-- BG Slider -->
        <div class="carousel-custom carousel-fullscreen">
            <div class="carousel-cell bg-cover bg-overlay-black-5 h-100 w-100">
                <div class="container h-100">
                    <div class="row align-items-center h-100 justify-content-center">
                        <div class="col-lg-9 text-center">
                            <h2 class="font-alt font-w-600 letter-spacing-2 m-0 mt-3 opacity-9-5 text-uppercase text-white title-sm-extra-large-2 title-extra-large-4">I'm Aderbal Farias</h2>
                            <span class="d-block font-alt mt-2 opacity-9-5 text-white title-sm-extra-large title-extra-large-3">Creative Developer</span>
                            <span class="d-block font-alt mb-2 mt-2 opacity-9-5 text-white text-extra-large">28 years young, husband and father, pet lover, coffee addict..</span>
                            <a href="#profile" class="page-scroll btn box-shadow-wide btn-base-color btn-large m-0 mt-4">Know Me Better</a>
                        </div>
                        <!-- //.col-lg-9 -->
                    </div>
                    <!-- //.row -->
                </div>
                <!-- //.container -->
            </div>
            <!-- //.carousel-cell -->
            
            <div class="carousel-cell bg-cover bg-overlay-black-5 h-100 w-100">
                <div class="container h-100">
                    <div class="row align-items-center h-100 justify-content-center">
                        <div class="col-lg-9 text-center">
                            <h2 class="font-alt font-w-600 letter-spacing-2 m-0 mt-3 opacity-9-5 text-uppercase text-white title-sm-extra-large-2 title-extra-large-4">I'm Aderbal Farias</h2>
                            <span class="d-block font-alt mt-2 opacity-9-5 text-white title-sm-extra-large title-extra-large-3">Art Direction Expert</span>
                            <span class="d-block font-alt mb-2 mt-2 opacity-9-5 text-white text-extra-large">28 years young, husband and father, pet lover, coffee addict..</span>
                            <a href="#profile" class="page-scroll btn box-shadow-wide btn-base-color btn-large m-0 mt-4">Know Me Better</a>
                        </div>
                        <!-- //.col-lg-9 -->
                    </div>
                    <!-- //.row -->
                </div>
                <!-- //.container -->
            </div>
            <!-- //.carousel-cell -->
            
            <div class="carousel-cell bg-cover bg-overlay-black-5 h-100 w-100">
                <div class="container h-100">
                    <div class="row align-items-center h-100 justify-content-center">
                        <div class="col-lg-9 text-center">
                            <h2 class="font-alt font-w-600 letter-spacing-2 m-0 mt-3 opacity-9-5 text-uppercase text-white title-sm-extra-large-2 title-extra-large-4">I'm Aderbal Farias</h2>
                            <span class="d-block font-alt mt-2 opacity-9-5 text-white title-sm-extra-large title-extra-large-3">Graphic Designer</span>
                            <span class="d-block font-alt mb-2 mt-2 opacity-9-5 text-white text-extra-large">28 years young, husband and father, pet lover, coffee addict..</span>
                            <a href="#profile" class="page-scroll btn box-shadow-wide btn-base-color btn-large m-0 mt-4">Know Me Better</a>
                        </div>
                        <!-- //.col-lg-9 -->
                    </div>
                    <!-- //.row -->
                </div>
                <!-- //.container -->
            </div>
            <!-- //.carousel-cell -->
        </div>
        <!-- //.carousel-custom -->
    </section>
    <!-- //Section - Home End -->

    <section>
        
        <section class="sobre" id="sobre">
            <article class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="title">Sobre</h1>
                    </div>

                    <div class="col-md-12">
                        <img src="Content/images/about.jpg" class="img-responsive img-center img-circle" alt="sobre" />
                    </div>

                    <div class="col-md-12">
                        <h3 class="subtitulo">Me chamo Aderbal Farias</h3>
                        <hr class="descricao">
                        <p class="text-center info">
                            Atuo como desenvolvedor de aplicações e analista de sistemas, sou registrado como Analista Programador .NET Sênior e no tempo livre exerço trabalho como freelancer,
                            atualmente estou localizado na cidade de Osasco em São Paulo. Cursei o tecnólogo em Análise e Desenvolvimento de Sistemas e o bacharel em Sistemas de Informação,
                            ambos na UNIFIEO (Centro Universitário Fieo).
                        </p>
                        <p class="text-center info">
                            Se o seu negócio precisa de um site, sistema, ou website, estarei pronto para te ajudar!
                        </p>
                    </div>
                </div>
            </article>
        </section>


        <div class="row justify-content-center mt-5 pt-5">
            <div class="col-lg-10">
                <div class="text-center text-md-left">
                    <span class="d-block font-alt letter-spacing-2 text-extra-large text-uppercase text-white">My Education</span>
                    <span class="d-block font-alt letter-spacing-2 mt-1 text-extra-large text-uppercase text-white">2003 - 2012</span>
                </div>
                <!-- //.text-center -->
                
                <div id="accordion-education" class="accordion mt-5 mt-md-4">
                    <div class="item pb-5 pb-md-4">
                        <span class="item-label bg-base-color font-alt letter-spacing-1 rounded text-medium text-white">
                            2010 - 2012
                        </span>
                        
                        <a href="#collapseEducation1" data-toggle="collapse" aria-expanded="true" aria-controls="collapseEducation1" class="bg-gray-2 rounded"></a>
                        
                        <div class="card border border-gray pt-4 pt-md-0 rounded-0">
                            <div class="card-header" role="tab" id="headingEducation1">
                                <span class="d-block font-alt letter-spacing-1 pt-1 text-extra-large text-uppercase text-white">Masters Degree - University Name</span>
                            </div>
                            <!-- //.card-header -->

                            <div id="collapseEducation1" class="collapse show" role="tabpanel" aria-labelledby="headingEducation1">
                                <div class="card-body pt-0">
                                    <p class="m-0 text-gray text-medium">
                                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                                    </p>
                                </div>
                                <!-- //.card-body -->
                            </div>
                            <!-- //.collapse -->
                        </div>
                        <!-- //.card -->
                    </div>
                    <!-- //.item -->
                    
                    <div class="item pb-5 pb-md-4">
                        <span class="item-label bg-base-color font-alt letter-spacing-1 rounded text-medium text-white">
                            2005 - 2008
                        </span>
                        
                        <a href="#collapseEducation2" data-toggle="collapse" aria-expanded="false" aria-controls="collapseEducation2" class="collapsed bg-gray-2 rounded"></a>
                        
                        <div class="card border border-gray pt-4 pt-md-0 rounded-0">
                            <div class="card-header" role="tab" id="headingEducation2">
                                <span class="d-block font-alt letter-spacing-1 pt-1 text-extra-large text-uppercase text-white">Bachelors Degree - University Name</span>
                            </div>
                            <!-- //.card-header -->

                            <div id="collapseEducation2" class="collapse" role="tabpanel" aria-labelledby="headingEducation2">
                                <div class="card-body pt-0">
                                    <p class="m-0 text-gray text-medium">
                                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                                    </p>
                                </div>
                                <!-- //.card-body -->
                            </div>
                            <!-- //.collapse -->
                        </div>
                        <!-- //.card -->
                    </div>
                    <!-- //.item -->
                    
                    <div class="item">
                        <span class="item-label bg-base-color font-alt letter-spacing-1 rounded text-medium text-white">
                            2003 - 2005
                        </span>
                        
                        <a href="#collapseEducation3" data-toggle="collapse" aria-expanded="false" aria-controls="collapseEducation3" class="collapsed bg-gray-2 rounded"></a>
                        
                        <div class="card border border-gray pt-4 pt-md-0 rounded-0">
                            <div class="card-header" role="tab" id="headingEducation3">
                                <span class="d-block font-alt letter-spacing-1 pt-1 text-extra-large text-uppercase text-white">Graduation - College Name</span>
                            </div>
                            <!-- //.card-header -->

                            <div id="collapseEducation3" class="collapse" role="tabpanel" aria-labelledby="headingEducation3">
                                <div class="card-body pt-0">
                                    <p class="m-0 text-gray text-medium">
                                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                                    </p>
                                </div>
                                <!-- //.card-body -->
                            </div>
                            <!-- //.collapse -->
                        </div>
                        <!-- //.card -->
                    </div>
                    <!-- //.item -->
                </div>
                <!-- //.accordion -->
            </div>
            <!-- //.col-lg-10 -->
        </div>

        <section class="servico" id="servico">
            <article class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="title">Grade de Serviços</h1>
                    </div>

                    <div class="col-md-4">
                        <div class="text-center">
                            <i class="fa fa-code fa-4x"></i>
                            <h3>Aplicações</h3>
                            <p class="info">
                                O desenvolvimento de aplicações web tem sido meu foco principal,
                                mas também trabalho com soluções desktop, ambas construídas utilizando tecnologias atuais,
                                que contribuem para o aperfeicoamento e facilitam a manutenção.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="text-center">
                            <i class="fa fa-laptop fa-4x"></i>
                            <h3>Design</h3>
                            <p class="info">
                                Nossos projetos tem como caracteristicas o design responsivo,
                                no qual a aplicação poderá ser consumida em diferentes aparelhos
                                como smartphones, tabletes, notebooks e computadores.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="text-center">
                            <i class="fa fa-database fa-4x"></i>
                            <h3>Banco de Dados</h3>
                            <p class="info">
                                As bases de dados dados utilizadas são o Sql Server ou MySQL,
                                também atuamos com modelagem, normalização e mapeamento de dados
                                para solucionar problemas de performace e melhorara as aplicações.
                            </p>
                        </div>
                    </div>
                </div>
            </article>
        </section>
        <section class="contato" id="contato">
            <article class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h1 class="title-contact">Entre em Contato</h1>
                        <p class="text-right">
                            Estou disponível para freelance. A melhor maneira que conheço para o sucesso
                            é investir em nossas ideias, espero o seu contato, o próximo projeto pode ser o seu!
                        </p>
                        <ul class="socials">
                            <li>
                                <a href="http://br.linkedin.com/pub/aderbal-farias/44/381/5b5" target="_blanck">
                                    <i class="fa fa-linkedin fa-2x"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/aderbal.farias.1" target="_blanck">
                                    <i class="fa fa-facebook fa-2x"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/aderbalfarias" target="_blanck">
                                    <i class="fa fa-twitter fa-2x"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://plus.google.com/110267220515695246558/about" target="_blanck">
                                    <i class="fa fa-google-plus fa-2x"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-8 form-horizontal">
                        <form name="sendEmail" role="form"></form>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input type="text" name="name" ng-model="name" class="form-control input-lg text-box single-line" placeholder="Informe o seu nome" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input type="email" name="from" ng-model="from" class="form-control input-lg text-box single-line" placeholder="Informe o seu e-mail" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input type="text" name="subject" ng-model="subject" class="form-control input-lg text-box single-line" placeholder="Informe o assunto" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <textarea type="text" name="body" ng-model="body" class="form-control input-lg" cols="20" placeholder="Digite a mensagem" rows="6" required></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-af"><i class="fa fa-send-o fa-fw"></i>Enviar Mensagem</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </article>
        </section>
    </section>
    <footer class="main-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 left-col">
                    <h2 class="small-logo">Aderbal Farias<br><span>Desenvolvedor de Sistemas</span></h2>
                    <ul class="footer-nav">
                        <li>
                            <a href="#home">Home</a>
                        </li>
                        <li>
                            <a href="#sobre">Sobre</a>
                        </li>
                        <li>
                            <a href="#servico">Serviços</a>
                        </li>
                        <li>
                            <a href="#contato">Contato</a>
                        </li>
                    </ul>
                    <p>&copy; Copyright - Direitos Reservados</p>
                </div>
                <div class="col-sm-6 right-col">
                    <h2>Quem sou?</h2>
                    <p>
                        Analista desenvolvedor de sistemas web, utilizando principalmente a plataforma de desenvolvimento .net,
                        buscando aplicar as mais recentes tecnologias disponíveis no mercado a fim de criar soluções inovadoras e únicas
                    </p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>